.App {
  text-align: center;
  margin-top: 100px;
  background-color: antiquewhite;
}
.movie ul li{
  display: inline-flex;
  list-style: none;
}
.listMovie{
  display: flex;
  text-align: center;
  background-color: rgb(247, 104, 9);
}